/*font-family: 'Rock Salt', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Sue Ellen Francisco', cursive;
font-family: 'Roboto Mono', monospace;

*/

body {
  vertical-align: middle;
  background-color:#222222;
}

h1 {
  padding: 1rem;
  font-family: 'Amatic SC', cursive;
  font-size: 6rem;
  background-color: #DDDDDD;
}

.card {
  border-radius;
  border: black;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  width: 450px;
}

input {
  font-family: 'Roboto Mono', monospace;
}
